.modules .content .item-page {
	margin: 0;

	.introtext {
		margin: 0;
	}

	.downloads {

		& > div {
			padding: 0 160px;
		}

		.background {
			background-color: #f2f4f7;
		}

		h5 {
			padding-top: 50px;
			text-align: center;
		}

		.flex {
			display: flex;
			flex-wrap: wrap;

			.grid {
				display: grid;
				grid-template-columns: 20px 250px 1fr 20px;
				grid-template-areas: '. image text .';
				width: 100%;
				@media screen and (min-width: 1120px) {
					max-width: 50%;
				}
				min-width: 400px;
				box-sizing: border-box;

				.image {
					text-align: center;
					grid-area: image;
				}

				.text {
					grid-area: text;
				}
			}
		}
	}
}

.pull-none {
	text-align: center;
}

.content {
	.item-page:not(.modules) {
		margin: 0 160px;

		.icons {
			display: none;
		}

		.article-info {
			text-align: center;
			width: 100%;

			.published {
				margin-inline-start: 0;
				color: @secondary-color;
				text-transform: uppercase;
			}
		}

		h1 {
			text-align: center;
			width: 100%;
			font-weight: bolder;
			font-size: 5em;
		}

		.fields-container {
			.field-entry {
				margin-inline-start: 0;
				text-align: center;
				width: 100%;

				.field-label {
					display: none;
				}

				.field-value {
					font-size: 3em;
				}

				&.straat, &.nummer, &.postcode, &.gemeente {
					display: none;
				}
			}
		}

		.introtext {
			.introtext();
		}

		.articletext {
			.columns {
				column-count: 2;
				column-gap: 50px;
			}

			.images {
				text-align: center;

				img {
					margin: 0 10px;
				}
			}

			.logo {
				text-align: center;

				img {
					max-height: 150px;
					max-width: 150px;
				}
			}

			.link {
				text-align: center;
			}
		}

		.pager {
			list-style-type: none;
			padding-inline-start: 0;
			margin-top: 50px;
		}
	}
}

.readmore {
	text-transform: uppercase;
	background: white;
	border-radius: 20px;
	color: @primary-color;
	padding: 10px 30px;
	.box-shadow(0 6px 9px rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.2));

	&:hover {
		color: white;
		background: @primary-color;
	}
}
