/* Chronoforms 6 */
.semanticui-body {
	margin: 0 80px;

	.form {
		h1 {
			font-size: 5em;
			text-align: center;
		}

		.formintro {
			margin-bottom: 50px;

			&.columns {
				column-count: 2;
			}
		}

		.introtext {
			.introtext();
		}

		.field {
			.flex();
			align-items: center;
			justify-content: center;
			margin-left: 100px;

			label {
				width: 120px;
				align-self: flex-start;
				margin-top: 10px;
			}
		}

		input[type="text"], textarea {
			max-width: 500px;
		}

		.ui.button {
			.readmore();
			margin: 0 auto;
			display: block;
			font-weight: normal;
			font-family: "Montserrat", "Arial", sans-serif;
		}

		.ui.checkbox {
			label {
				width: 100%;
			}
		}
	}

	.ui {
		&.message {
			width: 80%;
		}
	}
}

.flex {
	display: flex;

	.flex-item {
		margin-left: 0;
		margin-right: 0;
		flex-basis: 50%;

		* {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.flex-margin {
		margin-left: 50px;
		margin-right: 50px;
	}
}
