/* Chronoforms 6 */
.semanticui-body {
	margin: 0 80px;

	.form {
		h1 {
			font-size: 5em;
			text-align: center;
		}

		.formintro {
			margin-bottom: 50px;
		}
	}
}

.flex {
	display: flex;

	.flex-item {
		margin-left: 0;
		margin-right: 0;
		flex-basis: 50%;

		* {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.flex-margin {
		margin-left: 50px;
		margin-right: 50px;
	}
}
