.footer {
	display: flex;

	div {
		flex-basis: auto;
	}

	.logo {
		flex-basis: content;
		margin: 0 20px;
		img {
			max-height: 72px;
		}
	}

	.footertext {
		margin-left: 80px;
		flex: 3;
	}

.social {
		margin-right: 40px;
		align-items: flex-end;

		.fab {
			font-size: 3em;
			margin:0 10px;
		}
	}
}
