.footer {
	display: flex;
	margin: 40px 0;

	div {
		flex-basis: auto;
	}

	.logo {
		flex-basis: content;
		margin: 0 20px;
		img {
			max-height: 72px;
		}
	}

	.footertext {
		margin-left: 80px;
		flex: 3;
	}

	.social {
		margin-right: 40px;
		align-items: flex-end;

		.fab {
			font-size: 3em;
			margin:0 10px;
		}
	}
}

.bottom {
	background-image: url(../images/bottom.svg);
	min-height: 25vw;
	margin: -8vw 0 20px;
	width: 100vw;
	@media screen and (min-width: 940px) {
		background-size: cover;
	}

	.bottom-content {
		padding: 18vw 20px 0;
		color: white;
		.gil-flex-container();

		.modtitle {
			color: @secondary-color;
			text-transform: uppercase;
			.gil-width-1-10();
		}

		.newsflash {
			.gil-flex-container();
			width: 90%;

			.newsitem {
				border-left: solid 2px silver;
				padding: 0 0 20px 10px;
				margin-bottom: 50px;
				min-width: 250px;
				width: ~"calc(33% - 10px)";

				dd {
					margin-inline-start: 0;
					color: @secondary-color;
				}

				h4 {
					margin-top: 0;
				}
			}
		}

		.categories-module {
			.gil-flex-container();
			width: 87%;
			margin-top: 0;

			li {
				border-left: solid 2px silver;
				padding: 0 0 20px 10px;
				margin-bottom: 50px;
				min-width: 200px;
				width: ~"calc(24% - 10px)";
				list-style-type: none;

				&.active {
					display: none;
				}
			}
		}
	}
}
