@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 14px; /* Base font size */
	margin-top: 0;
	color: @primary-color;
}

a {
	text-decoration: none;
	color: inherit;
}

div[itemprop="articleBody"] div, div[itemprop="articleBody"] p {
	margin-bottom: 10px;
}
