.box-shadow(@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow: @string;
	box-shadow: @string;
}

.box-shadow(@string1, @string2) {
	-webkit-box-shadow: @string1, @string2;
	-moz-box-shadow: @string1, @string2;
	box-shadow: @string1, @string2;
}
