.breadcrumb {
	li {
		display: inline;
	}
}

.bottom {
	.nav {
		margin: 0;
		justify-content: flex-start;

		li {
			margin-left: 10px;
		}

		.current {
			display: none;
		}
	}
}

.nav {
	display: flex;
	flex-grow: 2;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0 40px;
	padding-top: 0;
	text-transform: uppercase;

	li {
		padding-top: 37px;
		margin-left: 50px;
		width: 16%;

		.nav-child {
			position: absolute;
			padding-inline-start: 0;
			list-style-type: none;
			padding: 30px 40px 20px;
			margin-left: -100px;
			z-index: 2;
			background-color: white;

			/*	Not properly functioning code for full width

			width: 100vw;
			margin-left: -50vw;
			left: 50%;
			margin-top: 20px;

			*/

			li {
				margin-left: 30px;
				padding-top: 5px;
				border: none;
				width: 100%;

				&:not(.active) {
					font-weight: normal;
				}
			}
		}

		&:not(:hover) .nav-child {
			display: none;
		}
	}

	.active {
		margin-top: 0;
		border-top: @primary-color solid 5px;
		font-weight: bolder;
		padding-top: 32px;
	}
}
