.default {
	h1 {
		width: 100%;
		text-align: center;
	}

	.component {
		margin: 0px 100px;

		.search {
			form {
				display: none;
			}

			.search-results {
				dt:not(first-child) {
					margin-top: 20px;
				}

				dt {
					font-weight: bolder;
				}
			}
		}
	}
}
