.top {
	display: flex;
	justify-content: space-between;

	div {
		flex-basis: auto;
	}

	.logo {
		flex-basis: content;
		margin-top: 20px;
		img {
			max-height: 100px;
		}
	}

	.search {
		flex-basis: content;
		float: right;
		margin: 25px 10px 0 0;
		position: relative;

		label {
			display: none;
		}

		input[type="search"] {
			font-size: 1em;
			border: 1px solid silver;
			-webkit-appearance: none;
			border-radius: 20px;
			padding: 5px 5px 5px 20px;
			box-shadow: 5px 5px 5px silver;
		}

		i {
			position: absolute;
			right: 210px;
			color: @primary-color;
			top: 13px;
		}
	}

	.nav {
		display: flex;
		flex-grow: 2;
		justify-content: flex-end;		
		list-style-type: none;
		margin: 0 40px;
		padding-top: 0;
		text-transform: uppercase;

		li {
			padding-top: 37px;
			margin-left: 50px;
		}

		.active {
			margin-top: 0;
			border-top: @primary-color solid 5px;
			font-weight: bolder;
			padding-top: 32px;
		}
	}
}
